.navbar {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;

  display: flex;
  align-items: center;
  text-align: center;

  background: var(--body-color);

  .profile-picture img {
    width: 80%;
    border-radius: 50%;
  }

  .routes {
    ul{ 
      padding: 0;
      margin: 2px;
      display: block;
    }
  
    li {
      font-weight: bold;
      text-align: center;
      display: block;
      margin-top: 1.5em;
    }
  }

  hr {
    border: 1px solid var(--primary-color);
  }
}

.horizontal-separator {
  width: 90%;
  margin-bottom: 1.5em;
}

.vertical-separator {
  position: absolute;
  width: 0%;
  height: 100%;
  float: left;
}

.dark-mode-toggle {
  position: absolute;
  display: flex-box;
  bottom: 0;
  width: 100%;
  align-items: center;
}