---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Luan Carlos
  </div>
  <div class="inline opacity-75">
    Powered by <a href="https://astro.build/" target="_blank" class="font-bold">Astro</a>. Developed by
    <a href="https://github.com/luancgs" target="_blank" class="font-bold">Luan</a>
  </div>
</footer>
<style>

</style>
