.App {
  max-width: 100%;
  overflow: auto;
}

.Color-changer {
  background: var(--background);
  color: var(--text);
  transition: 1s;
}

.Content-area {
  max-width: 75%;
  align-items: center;
  overflow: auto;
}