.app {
  max-width: 100%;
  overflow: auto;
}

.color-changer {
  background: var(--body-color);
  color: var(--text-color);
  transition: 1s;
}

.content-area {
  max-width: 75%;
  align-items: center;
  overflow: auto;
}