:root {
  // Catppuccin Colors
  --body-color: #1e1e2e;
  --navbar-color: #e6e9ef;
  --primary-color: #cba6f7;
  --primary-color-primary-color-accent: #680dbd;
  --toggle-color: #f5e0dc;
  --text-color: #cdd6f4;
  --code-text-color: #cdd6f4;
  --code-border-color: #4E2A70;
  --code-background-color: #313244;

  scroll-behavior: smooth;
}

$font-stack: 'Fira Code', monospace;

.light-mode {
  // Catppuccin Colors
  --body-color: #eff1f5;
  --navbar-color: #e6e9ef;
  --primary-color: #8839ef;
  --primary-color-primary-color-accent: #680dbd;
  --toggle-color: #dc8a78;
  --text-color: #4c4f69;
  --code-text-color: #4c4f69;
  --code-border-color: #4E2A70;
  --code-background-color: #ccd0da;
}

.social-icons ul{
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  list-style-type: none;

  a{
    padding-left: 1em;
    padding-right: 1em;
  }
}

body {
  margin: 0;
  background: var(--body-color);
  color: var(--text-color);
  font-family: $font-stack;
  font-size: 14pt;
  min-width: 60em;
}

pre, code { font-family: $font-stack; }

header, main {
  -webkit-text-size-adjust: none;
}

h1 {
  font-size: 55pt;
  font-weight: 600;
}

h2 {
  font-size: 26pt;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--primary-color);

  :hover, :focus {
    color: var(--primary-color-accent);
    transition: .3s 0s;
    text-shadow: 0 0 5px var(--primary-color-accent), 0 0 5px var(--primary-color-accent);
  }
}

b {
  color: var(--primary-color);

  :hover {
    color: var(--primary-color-accent);
    transition: .1s 0s;
    text-shadow: 0 0 5px var(--primary-color-accent), 0 0 5px var(--primary-color-accent);
  }
}

code {
  position: relative;
  display: inline-block;
  margin-top: 0.8em;
  padding: 0;
  color: var(--code-text-color);

  :before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    left: -3px;
    right: -3px;
    top: -2px;
    bottom: -1px;
    border: 1px solid var(--code-border-color);
    background: var(--code-background-color);
  }
}